# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Dean Tycoon.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Vlad\Desktop\Gamedev\Dean Tycoon\.idea\.idea.Dean Tycoon\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
